body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #3596ff;
    color: white;
    padding-top: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.sidebar a:hover {
    background-color: #1b4c81;
}

.content {
    flex: 1;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

main {
    background-color: #ebebeb;
    padding: 20px;
    box-shadow: #3596ff;
}

h1 {
    color: #3596ff;

}

/* Add additional styles for other elements within the main content */
